flaresolverr/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.tmp
*.log
test.txt
page.html
flaresolverr_response.json
alive.txt
all_proxies.csv
proxies.txt
proxies.json
*.test
*.out
coverage.*
*.coverprofile
profile.cov
# vendor/
go.work
go.work.sum
.env
